@font-face {
    font-family: 'font1';
    src: url('./fonts/font1.ttf');
        font-weight: 600;
        font-style: normal;
}
@font-face {
    font-family: 'font2';
    src: url('./fonts/font2.ttf');
        font-weight: 600;
        font-style: normal;
}
@font-face {
    font-family: 'font3';
    src: url('./fonts/font3.ttf');
        font-weight: 600;
        font-style: normal;
}
@font-face {
    font-family: 'font4';
    src: 
        url('./fonts/font4.otf');
        font-weight: 600;
        font-style: normal;
}
@font-face {
    font-family: 'font5';
    src: 
        url('./fonts/font5.ttf');
        font-weight: 600;
        font-style: normal;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.screenleft{
    border: 1px solid red;
    display: flex;
}
.todoprojects-lists{
    border: 1px solid red;
}

h1{
    text-align: center;
    max-width: 1100px;
    font-family: font2;
    color: red;
    text-shadow: 1px 1px 1px #000000;
    font-size: 4rem;
}
h2{
    font-family: font2;
    font-size: 3rem;
    margin-left: 40px;
    margin: 30px;
    color: darkblue;
}
h3{
    font-family: font3;
    font-size: 3rem;
    color: silver;
    margin: 10px;
    margin-left: 30px;
    text-shadow: 2px 2px 1px black;
    text-decoration: underline;
}
.content{
    max-width: 1200px;
    background-color: lightyellow;

}
.del{
    font-size: 1.1rem;
}
.addTask, .addProject{
    display: flex;
    max-width: 480px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 1px;
}

.input-name{
    min-width: 370px;
}
dialog{
    max-width: 400px;
    min-height: 200px;
    background:linear-gradient( 60deg, rgb(246, 182, 104), rgb(181, 181, 181), rgb(255, 202, 138), rgb(167, 164, 164),rgb(255, 190, 110),rgb(172, 171, 171));
    border: 0.3rem solid rgb(255, 16, 16);
    border-radius: 10px;
    padding: 1px;

}
dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.512);

}
#title, #projectTitle{
    min-width: 300px;
}
form{
    margin: 1px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.check{
    width: 1.2rem;
    height: 1.2rem;
    top: 50%;
    right: 50%

}
#addProject, #addToDo{
    margin-top: 2px;
}
.btn{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    top: 50%;
    right: 50%;
    border-radius: 50% 50% 50% 50%;
    margin: 1px;
    background-color: rgb(11, 165, 80);
}

li{
    display: flex;
    width: 200px;
    margin: 10px;
    list-style: none;
    align-items: center;

}
label{
    margin-right: 10px;
    width: 60px;
    margin: 2px solid red;
    top: 50%;
    bottom: 50%;
}
.projects{
    border: 0.5rem solid darkorange;
    background-color: turquoise;
    min-height: 200px;
}
.projects > div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 0px;
    border-bottom: 5px solid rgb(5, 48, 126);
}

div.name{
    padding: 6px;
    margin-right: 5px;
    margin: 10px;
    background-color:rgb(200, 198, 198);
    font-size: 1.2rem;
    min-width: 300px;
    font-weight: 400;
    font-family: font2;
}
.item1{
    margin-bottom: 20px;

}
#projects-list > .item1 > div.project{
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    border: 2px solid darkorange;
    box-shadow: 3px -3px 5px black;
    align-items: center;
    justify-content: space-between;
    background-color:steelblue;
    border-left: 1.2rem solid darkorange;
    border-radius: 10px;

}
.todo{
    display: none;
    border: 0.5rem solid darkcyan;
    border-top: none;
    margin-top: 1px;
    background:linear-gradient( 30deg, grey, white, rgb(169, 164, 164), white);
    min-height: 200px;
    margin-left: 15px;
    margin-right: 15px;
}
.todo1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 2px;
}

.width{
    width: 120px;
    margin-left: 5px;
}

.to_do{
    border: 0.5rem solid rgb(0, 69, 139);
    margin-top: 20px;
    background-color:teal;
    min-height: 200px;
}
.currentTime{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.to_do > .headertask{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    margin: 10px;
}

div.task{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 20px;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    background-color: mediumturquoise;

    border-radius: 10px;
    border: 2px solid red;
    border-left: 1rem solid rgb(192, 1, 1);
    box-shadow: 3px -3px 5px black;

}

.title{
    display: block;
    padding: 3px;
    margin: 10px;
    background-color: rgba(194, 194, 194, 0.933);
    height: auto;
    text-align: left;
    font-family: font5;
    font-size: 1.5rem;
    min-width: 300px;
    max-width: 600px;
    flex: 1 1 0;
}
.status{
    display: flex;
    align-items: center; 
    margin-right: 5px;
    margin-left: 8px;
}
.done{
    display: none;
}