@font-face {
    font-family: 'font1';
    src: url('./fonts/font1.ttf');
        font-weight: 600;
        font-style: normal;
}
@font-face {
    font-family: 'font2';
    src: url('./fonts/font2.ttf');
        font-weight: 600;
        font-style: normal;
}
@font-face {
    font-family: 'font3';
    src: url('./fonts/font3.ttf');
        font-weight: 600;
        font-style: normal;
}
@font-face {
    font-family: 'font4';
    src: 
        url('./fonts/font4.otf');
        font-weight: 600;
        font-style: normal;
}
@font-face {
    font-family: 'font5';
    src: 
        url('./fonts/font5.ttf');
        font-weight: 600;
        font-style: normal;
}
*{
    border: 1px solid red;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    max-width: 1100px;
    font-family: font2;
    color: red;
    text-shadow: 1px 1px 1px #000000;
}
.content{
    max-width: 1200px;
    background-color: lightyellow;

}
.del{
    font-size: 1.1rem;
}
.addTask, .addProject{
    display: flex;
    max-width: 480px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 1px;
}

.input-name{
    min-width: 370px;
}
dialog{
    max-width: 400px;
    min-height: 200px;
    background-color:bisque;
    border: 0.3rem solid rgb(23, 20, 20);
    border-radius: 10px;
    padding: 1px;

}
dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.512);

}
#title, #projectTitle{
    min-width: 300px;
}
form{
    margin: 1px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.check{
    width: 1.2rem;
    height: 1.2rem;
    top: 50%;
    right: 50%

}
#addProject, #addToDo{
    margin-top: 2px;
}
.btn{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    top: 50%;
    right: 50%;
    border-radius: 50% 50% 50% 50%;
    margin: 1px;
    background-color: rgb(38, 234, 126);
}

li{
    display: flex;
    width: 200px;
    margin: 10px;
    list-style: none;
    align-items: center;

}
label{
    margin-right: 10px;
    width: 60px;
    margin: 2px solid red;
    top: 50%;
    bottom: 50%;
}
.projects{
    border: 0.5rem solid darkorange;
    background-color: turquoise;
    min-height: 200px;
}
.projects > div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 0px;
}
.project{
    border-left: 0.8 solid darkorange;
}

div.name{
    padding: 6px;
    margin-right: 5px;
    margin: 10px;
    background-color: rgb(60, 145, 243);
    font-size: 1.2rem;
    min-width: 300px;
    font-weight: 400;
    font-family: font1;
}
#projects-list > .item1 > div.project{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: lightgreen;
    border: 2px solid black;
    border-left: 0.8rem solid darkorange;
    border-radius: 10px;
}
.todo{
    display: none;
    border: 0.5rem solid darkcyan;
    border-top: none;
    margin-top: 1px;
    background-color: white;
    min-height: 200px;
}
.todo1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 2px;
}

.width{
    width: 120px;
    margin-left: 5px;
}

.to_do{
    border: 0.5rem solid darkcyan;
    margin-top: 20px;
    background-color: deepskyblue;
    min-height: 200px;
}
.currentTime{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.to_do > .headertask{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    margin: 3px;
}

div.task{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 10px;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
 /*   background: linear-gradient(50Deg, white, rgb(164, 163, 163), white, rgb(167, 165, 165),white);*/
    background-color: rgb(249, 238, 153);
    border-radius: 10px;
    border-left: 0.8rem solid rgb(192, 1, 1);
}

.title{
    display: block;
    padding: 3px;
    margin: 10px;
    background-color: rgb(103, 242, 191);
    height: auto;
    text-align: left;
    font-family: font5;
    font-size: 1.5rem;
    min-width: 300px;
    max-width: 600px;
    flex: 1 1 0;
}
